
<header>
    <div class="logo"><a routerLink="/">
        <img src="./../../../assets/images/footerlogo.png"></a>
        <a routerLink="/"> 
        <img id="logo" src="./../../../assets/images/footertxt.png">
      </a>
      </div>
      <div class="topnav" id="myTopnav">
        <span class="icon"><a href="javascript:void(0);" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a></span>
        <div id ="exp">
        <span><a routerLink="/" onclick="myF()">Home</a></span>
        
        <span><a routerLink="/shop" onclick="myF()">Shop</a></span>
        
        <span><a routerLink="/blog" onclick="myF()">Blog</a></span>
        
        <span><a routerLink="/services" onclick="myF()">Services</a></span>
    
        <span><a routerLink="/login" id="last" onclick="myF()"><i class="fa fa-user" aria-hidden="true"></i></a></span>
      </div>
    </div>
    </header>
    
    