<div class="container main" style="padding-top: 30px;">

    <!-- Begin Article
================================================== -->
    <div class="container" >
        <div class="row mainr">

            <!-- Begin Post -->
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="mainheading" style="padding-bottom: 0%;">

                    <!-- Begin Top Meta -->

                    <!-- End Top Menta -->

                    <h1 class="posttitle">GOVERNMENT SCHEMES :<br><i>To support farmers and improve their livelihoods.</i></h1>
                    <p align="right" style="color: rgb(76, 78, 31); font-size: 15px;"><i>Article updated on 19th March
                            2023</i></p>
                </div>

                <!-- Begin Featured Image -->

                <!-- End Featured Image -->

                <!-- Begin Post Content -->
                <div class="article-post">

                    <blockquote>
                        “The central government aims to maximize farm output and generate employment in the agriculture sector. To achieve this aim it intends to introduce various schemes and plans for the benefit of the farmers. The goal of the central government 
                        is to develop innovative services that tend to increase the employment rate and better agriculture output."                        <br>-Xiaoying Ren, Director of Strategic Alliance
                    </blockquote>
                   <!-- <img class="featured-image img-fluid" src="./../../../assets/images/categories/watersol.webp" style="border-radius: 10px;" alt=""> -->
                    <iframe left-padding="50%" width="860" height="415" src="https://www.youtube.com/embed/EkHbwq8cAls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
                    <ul style="list-style-type:disc; margin-left: 20px; font-family: poppins; font-size: 17px;" >
                        <li>Pradhan Mantri Fasal Bima Yojana (PMFBY): PMFBY is a crop insurance scheme that provides financial support to farmers in case of crop failure due to natural calamities, pests, or diseases. 
                            The scheme covers all crops and is available to all farmers, regardless of their landholding size.</li>
                        
                        <li>Pradhan Mantri Kisan Samman Nidhi (PM-KISAN): PM-KISAN is a scheme that provides financial support to small and marginal farmers. Under the scheme, 
                            eligible farmers receive Rs. 6,000 per year in three equal instalments directlyin their bank accounts.</li>

                        <li> Kisan Credit Card (KCC) Scheme: KCC is a credit scheme that provides farmers with access to short-term credit for crop production, post-harvest activities, and consumption needs. 
                            The scheme offers low-interest loans, and the credit limit is based on the farmer's crop and landholding size..</li>
                        <li>Lojana (KCC) Scheme: Lojana is a credit scheme that provides farmers with access to short-term credit for crop production, post-harvest activities, and consumption needs. The scheme offers low-interest loans, and the credit limit is
                             based on the farmer's crop and landholding size.</li>
                        
                    </ul>
                    <p></p>
                </div>
                <!-- End Post Content -->

                <!-- Begin Tags -->
                <div class="after-post-tags">
                    <ul class="tags">
                        <li><a>Scheme</a></li>
                        <li><a>Credit</a></li>
                        <li><a>Crop</a></li>
                        <li><a>limit</a></li>
                    </ul>
                </div>
                <!-- End Tags -->

            </div>
            <!-- End Post -->

        </div>
        </div>
    <!-- End Article
================================================== -->
<div class="container2">
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Related Posts</span></h2>
    </div>
    <div class="card-columns listrecent">
    
        <!-- begin post -->
        <div class="card" style="background-color: #170b0b;">
            <a href="post4.html">
                <img class="img-fluid" src="images\img-1.jpeg" alt="" width="1000px" height="800px">
            </a>
            <div class="card-block">
                <h2 class="card-title"><a href="post4.html">BUSINESS LOANS:<br><i>Benefits For Women</i></a></h2>
                <h4 class="card-text">Business Growth – Small Business Loans help women entrepreneurs start their own businesses or expand existing ones.</h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="meta-footer-thumb">
                        
                        <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </span>
                        <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
    
        <!-- begin post -->
        <div class="card" style="background-color: #170b0b;">
            <a href="post6.html">
                <img class="img-fluid" src="images\post1.jpeg" alt="">
            </a>
            <div class="card-block">
                <h2 class="card-title"><a href="post6.html">GOVERNMENT SCHEMES:<br><i>TREAD</i></a></h2>
                <h4 class="card-text">Assistance in the form of the Government of India (GoI) grant of up to 30 per cent of the total project cost</h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="meta-footer-thumb">
                        
                        <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </span>
                        <span class="post-read-more"><a href="post6.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
    
        <!-- begin post -->
        <div class="card" style="background-color: #170b0b;">
            <a href="post5.html">
                <img class="img-fluid" src="images\post5.jpg" alt="" width="300px" height="150px">
            </a>
            <div class="card-block">
                <h2 class="card-title"><a href="post5.html">CRYPTOCURRENCY :<br><i> Journey of Investing</i></a></h2>
                <h4 class="card-text">Investing in Cryptocurrencies is an important flana and needs to be done with knowledge and power.</h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="meta-footer-thumb">
                        
                        <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </span>
                        <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
    
    
    </div>
    </section>
    </div>

    <!-- Begin Related
================================================== -->
   
    </div>