<div class="container main" style="padding-top: 30px;">

    <!-- Begin Article
================================================== -->
    <div class="container" >
        <div class="row mainr">

            <!-- Begin Post -->
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="mainheading" style="padding-bottom: 0%;">

                    <!-- Begin Top Meta -->

                    <!-- End Top Menta -->

                    <h1 class="posttitle">CRYPTOCURRENCY :<br><i> The most secured currency ever</i></h1>
                    <p align="right" style="color: rgb(76, 78, 31); font-size: 15px;"><i>Article updated on 8th January
                            2023</i></p>
                </div>

                <!-- Begin Featured Image -->

                <!-- End Featured Image -->

                <!-- Begin Post Content -->
                <div class="article-post">

                    <blockquote>
                        “Blockchain technology is not only a technology revolution also changing the society and humanity at large. Decentralized vector of Blockchain 
                         provides females with equal access to broader education, financial management (individually and institutionally).Blockchain brings finance independence
                         to females and help ending the gender-based discrimination in schools, in offices, and at home, internationally. It is time for female to shine”
                        <br>-Xiaoying Ren, Director of Strategic Alliance
                    </blockquote>
                    <img class="featured-image img-fluid" src="./../../../assets/images/categories/watersol.webp" style="border-radius: 10px;" alt="">
                    
                
                    <ul style="list-style-type:disc; margin-left: 20px; font-family: poppins; font-size: 17px;" >
                        <li>Cryptocurrency is any form of currency that exists digitally or virtually and uses cryptography to secure transactions. Cryptocurrencies have no central issuing authority or regulator, 
                            instead using a decentralised system to record transactions and issue new units.</li>
                        
                        <li>Cryptocurrencies are digital payment systems that do not rely on banks to validate transactions. 
                            It's a peer-to-peer system that allows anyone, anywhere to send and receive payments.</li>

                        <li> Instead of physical money being carried and exchanged in the real world, cryptocurrency 
                            payments simply exist as digital entries in online databases describing specific transactions.</li>
                        <li>When you transfer cryptocurrency funds, the transaction is recorded on a public ledger. 
                            Cryptocurrencies are stored in digital wallets.</li>
                        <li>Cryptocurrencies run on a distributed public ledger called a blockchain. This is a record of 
                            all transactions updated and maintained by the currency holder.</li>
                        <li>It can offer investors diversification from traditional financial assets such as stocks and bonds. 
                            While there's limited history on the price action of the crypto markets relative to stocks or bonds, so far the
                            prices appear uncorrelated with other markets.</li>
                    </ul>
                    <p></p>
                </div>
                <!-- End Post Content -->

                <!-- Begin Tags -->
                <div class="after-post-tags">
                    <ul class="tags">
                        <li><a>Digital</a></li>
                        <li><a>Transaction</a></li>
                        <li><a>Payment</a></li>
                        <li><a>Price</a></li>
                    </ul>
                </div>
                <!-- End Tags -->

            </div>
            <!-- End Post -->

        </div>
        </div>
    <!-- End Article
================================================== -->
<div class="container2">
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Related Posts</span></h2>
    </div>
    <div class="card-columns listrecent">
    
        <!-- begin post -->
        <div class="card" style="background-color: #170b0b;">
            <a href="post4.html">
                <img class="img-fluid" src="images\img-1.jpeg" alt="" width="1000px" height="800px">
            </a>
            <div class="card-block">
                <h2 class="card-title"><a href="post4.html">BUSINESS LOANS:<br><i>Benefits For Women</i></a></h2>
                <h4 class="card-text">Business Growth – Small Business Loans help women entrepreneurs start their own businesses or expand existing ones.</h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="meta-footer-thumb">
                        
                        <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </span>
                        <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
    
        <!-- begin post -->
        <div class="card" style="background-color: #170b0b;">
            <a href="post6.html">
                <img class="img-fluid" src="images\post1.jpeg" alt="">
            </a>
            <div class="card-block">
                <h2 class="card-title"><a href="post6.html">GOVERNMENT SCHEMES:<br><i>TREAD</i></a></h2>
                <h4 class="card-text">Assistance in the form of the Government of India (GoI) grant of up to 30 per cent of the total project cost</h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="meta-footer-thumb">
                        
                        <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </span>
                        <span class="post-read-more"><a href="post6.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
    
        <!-- begin post -->
        <div class="card" style="background-color: #170b0b;">
            <a href="post5.html">
                <img class="img-fluid" src="images\post5.jpg" alt="" width="300px" height="150px">
            </a>
            <div class="card-block">
                <h2 class="card-title"><a href="post5.html">CRYPTOCURRENCY :<br><i> Journey of Investing</i></a></h2>
                <h4 class="card-text">Investing in Cryptocurrencies is an important flana and needs to be done with knowledge and power.</h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="meta-footer-thumb">
                        
                        <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </span>
                        <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
    
    
    </div>
    </section>
    </div>

    <!-- Begin Related
================================================== -->
   
    </div>