
<div class="bg">
    <div class="bx">
        <h2><span class="quote">CROP DISEASE PREDICTION</span></h2>
        <h3>Find out which disease has been caught by your plant</h3><br>

        <form method="post">
            <div class="box">
                <label class="form__label" for="img">Please upload image of the infected crop</label>
                <input type="file" id="img" name="img" accept="image/*" required="required">
            </div>
        <h1>
            <button class="btn" id="btn" onclick="getval()">
                PREDICT
            </button>
        </h1>
    </form>
        <br />
        <span class="w" id="answer"></span>
        <br />


</div>
</div>