

<div class="box">
    <p>OUR SERVICES
    </p>
    <div class="service">
    <div class="grid" routerLink="/crop">
        <img class="gridimg" src="./../../../assets/images/img1.jpeg">
        <p id="head">CROP</p>
        <p>Recommendation about the type of crops that are best suited for the respective conditions</p>
    </div>
    <div class="grid" routerLink="/fertilizer">
        <img class="gridimg"  src="./../../../assets/images/img2.jpeg">
        <p id="head">FERTILIZER</p>
        <p>Recommendation about the fertilizer best suited for the particular soil and the recommended crop</p>
    </div>
    <div class="grid" routerLink="/disease">
        <img class="gridimg"  src="./../../../assets/images/img3.png">
        <p id="head">CROP DISEASE</p>
        <p>Predicting the name and causes of crop diseases and providing suggestions to cure it</p>
    </div>
    <div class="grid" routerLink="/yield">
        <img class="gridimg"  src="./../../../assets/images/img-4.jpeg">
        <p id="head">CROP YIELD</p>
        <p>Predicting the estimate yield of a crop for a particular district</p>
    </div>
    </div>
    </div>