.box{
    height: fit-content;
    padding: 2vh 2vw 1vh 2vw ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-image: url(./../../../assets/images/shopbg.png);
    background-color: #170b0ba6;
    background-blend-mode: overlay;
}
.service{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 2%;
    
}
.grid{
    width: 20vw;
    min-width: 250px;
    height: 370px;
    background-color: hsl(38, 73%, 84%);
    padding-bottom: 1%;
    margin-bottom: 5%;
    box-shadow: 5px 5px  hsla(38, 82%, 55%, 0.555);
    cursor: pointer;
        margin-right: 20px;
}
.grid:hover{
    background-color: hsl(38, 83%, 79%);
}
.gridimg{
    width: 20vw;
    min-width: 250px;
    height: 200px;
    align-self: center;
}
footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box p{
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 2%;
    padding-bottom: 0%;
}
.grid p{
    font-size: 14px;
    text-align: left;
font-weight: 400;
color: #170b0b;
padding: 0 5% 0% 5%;
}
#head{
    font-weight: 600;
    font-size: 20px;
    color: #170b0b;
    text-align: left;
    padding-bottom: 0;
    padding-top: 0%;
    
}
