<body>
<div class="container" style="padding-top: 30px;">

<!-- End Site Title
================================================== -->

<!-- Begin Featured
================================================== -->
<section class="featured-posts">
<div class="section-title">
    <h2><span>Featured Posts</span></h2>
</div>
<div class="card-columns listfeaturedtag">

    <!-- begin post -->
    <div class="card">
        <div class="row">
            <div class="col-md-5 wrapthumbnail">
                <a routerLink="/post1">
                    <div class="thumbnail" style="background-image:url(images/post1.jpeg);">
                    </div>
                </a>
            </div>
            <div class="col-md-7">
                <div class="card-block">
                    <h2 class="card-title"><a routerLink="/post1">BUSINESS LOANS:<br><i>Documents Required </i></a></h2>
                    <h4 class="card-text">Nobody talks about entrepreneurship as a survival, but that’s exactly what it is and what nurtures creative thinking.</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                          
                            <span class="post-read-more"><a routerLink="/post1" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card">
        <div class="row">
            <div class="col-md-5 wrapthumbnail">
                <a routerLink="/post2">
                    <div class="thumbnail" style="background-image:url(images/crypto1.jpg);">
                    </div>
                </a>
            </div>
            <div class="col-md-7">
                <div class="card-block">
                    <h2 class="card-title"><a  routerLink="/post2">CRYPTOCURRENCY :<br><i>The most secured currency ever</i></a></h2>
                    <h4 class="card-text">Blockchain technology is not only a technology revolution also changing the society and humanity at large.</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            
                            <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>

                            <span class="post-read-more"><a routerLink="/post2" title="Read Story"><svg class="svgIcon-use" width="25" height="25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end post -->

    <!-- begin post -->
    <div class="card">
        <div class="row">
            <div class="col-md-5 wrapthumbnail">
                <a  routerLink="/post1">
                    <div class="thumbnail" style="background-image:url(images/stock.jpg);">
                    </div>
                </a>
            </div>
            <div class="col-md-7">
                <div class="card-block">
                    <h2 class="card-title"><a  routerLink="/post2">STOCK MARKET :<br>
                       <i> The new money making Factory</i></a></h2>
                    <h4 class="card-text">A share market is where shares are either issued or traded in. Stock market is similar to a share market.</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            <span class="meta-footer-thumb">
                            
                            <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                            </span>
                            <span class="post-read-more"><a  routerLink="/post2" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card">
        <div class="row">
            <div class="col-md-5 wrapthumbnail">
                <a href="post3.html">
                    <div class="thumbnail" style="background-image:url(images/loan.jpg);">
                    </div>
                </a>
            </div>
            <div class="col-md-7">
                <div class="card-block">
                    <h2 class="card-title"><a href="post3.html">BUSINESS LOANS:<br><i>From small loans to big dreams.</i></a></h2>
                    <h4 class="card-text">Many banks and financial companies in India offer small business loans for women to help.</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            <span class="meta-footer-thumb">
                            
                            <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                            </span>
                            <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

</div>
</section>
<!-- End Featured
================================================== -->

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
<div class="section-title">
    <h2><span>All Stories</span></h2>
</div>
<div class="card-columns listrecent">

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post4.html">
            <img class="img-fluid" src="images\img-1.jpeg" alt="" width="1000px" height="800px">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post4.html">BUSINESS LOANS:<br><i>Benefits For Women</i></a></h2>
            <h4 class="card-text">Business Growth – Small Business Loans help women entrepreneurs start their own businesses or expand existing ones.</h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post6.html">
            <img class="img-fluid" src="images\post1.jpeg" alt="">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post6.html">GOVERNMENT SCHEMES:<br><i>TREAD</i></a></h2>
            <h4 class="card-text">Assistance in the form of the Government of India (GoI) grant of up to 30 per cent of the total project cost</h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post6.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post5.html">
            <img class="img-fluid" src="images\post5.jpg" alt="" width="300px" height="150px">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post5.html">CRYPTOCURRENCY :<br><i> Journey of Investing</i></a></h2>
            <h4 class="card-text">Investing in Cryptocurrencies </h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post7.html">
            <img class="img-fluid" src="images\cyber.jpg" alt="">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post7.html">CYBERSECURITY:<br><i>Care to be Aware!</i></a></h2>
            <h4 class="card-text"></h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post8.html">
            <img class="img-fluid" src="images\post1.jpeg" alt="">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post8.html">GOVERNMENT SCHEMES:<br><i> Cent Kalyani Scheme</i></a></h2>
            <h4 class="card-text">The scheme is targeted at women entrepreneurs in the manufacturing and services sector.The loans offered are in the form of overdraft, cash credit, letter of credit, letter of guarantee, etc.</h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post8.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post.html">
            <img class="img-fluid" src="images\img-1.jpeg" alt="" width="1000px" height="800px">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post.html">GOVERNMENT SCHEMES</a></h2>
            <h4 class="card-text">Many banks and financial companies in India offer small business loans for women to help them start and expand their small businesses.</h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><i class="fa-regular fa-bookmark"></i></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

</div>
</section></div>
</body>
<!-- End List Posts
================================================== -->