<body>
<div class="container" style="padding-top: 30px;">

<!-- End Site Title
================================================== -->

<!-- Begin Featured
================================================== -->
<section class="featured-posts">
<div class="section-title">
    <h2><span>Featured Posts</span></h2>
</div>
<div class="card-columns listfeaturedtag">

    <!-- begin post -->
    <div class="card">
        <div class="row">
            <div class="col-md-5 wrapthumbnail">
                <a routerLink="/post1">
                    <div class="thumbnail" style="background-image:url(./../../../assets/images/blogs/b1log.png)">
                    </div>
                </a>
            </div>
            <div class="col-md-7">
                <div class="card-block">
                    <h2 class="card-title"><a routerLink="/post1">NGO's Helping Hand:<br><i>For promoting information sharing , mutual support and awareness among farmers.</i></a></h2>
                    <h4 class="card-text"> Community-based organizations that are managed by the members themselves</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                          
                            <span class="post-read-more"><a routerLink="/post1" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card">
        <div class="row">
            <div class="col-md-5 wrapthumbnail">
                <a routerLink="/post2">
                    <div class="thumbnail" style="background-image:url(./../../../assets/images/blogs/b2log.jpg);">
                    </div>
                </a>
            </div>
            <div class="col-md-7">
                <div class="card-block">
                    <h2 class="card-title">GOVERNMENT SCHEME :<a  routerLink="/post2"><br><i>To support farmers and improve their livelihoods.</i></a></h2>
                    <h4 class="card-text">The central government aims to maximize farm output and generate employment in the agriculture sector.</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            
                            <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>

                            <span class="post-read-more"><a routerLink="/post2" title="Read Story"><svg class="svgIcon-use" width="25" height="25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end post -->

    <!-- begin post -->
    <div class="card">
        <div class="row">
            <div class="col-md-5 wrapthumbnail">
                <a  routerLink="/post1">
                    <div class="thumbnail" style="background-image:url(./../../../assets/images/blogs/b3log.jpg);">
                    </div>
                </a>
            </div>
            <div class="col-md-7">
                <div class="card-block">
                    <h2 class="card-title"><a  routerLink="/post2">GOVERNMENT SCHEME :<br>
                       <i> To support farmers and improve their livelihoods.</i></a></h2>
                    <h4 class="card-text">The central government aims to maximize farm output and generate employment in the agriculture sector.</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            <span class="meta-footer-thumb">
                            
                            <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                            </span>
                            <span class="post-read-more"><a  routerLink="/post2" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card">
        <div class="row">
            <div class="col-md-5 wrapthumbnail">
                <a href="post3.html">
                    <div class="thumbnail" style="background-image:url(./../.../../../../assets/images/blogs/b4log.jpg);">
                    </div>
                </a>
            </div>
            <div class="col-md-7">
                <div class="card-block">
                    <h2 class="card-title"><a href="post3.html">Kisan Foundation:<br><i>NGO's for farmers</i></a></h2>
                    <h4 class="card-text">Many banks and financial companies in India offer small business loans for women to help.</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            <span class="meta-footer-thumb">
                            
                            <span class="post-date"><i class="fa fa-calendar-o"></i>    8 January 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                            </span>
                            <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

</div>
</section>
<!-- End Featured
================================================== -->

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
<div class="section-title">
    <h2><span>All Stories</span></h2>
</div>
<div class="card-columns listrecent">

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post4.html">
            <img class="img-fluid" src="./../../../assets/images/blogs/b2log.jpg" alt="" width="700px" height="400px">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post4.html">Paramparagat Krishi Vikas Yojana:<br><i></i></a></h2>
            <h4 class="card-text">An initiative launched by the NDA government in 2015</h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post6.html">
            <img class="img-fluid" src="./../../../assets/images/blogs/b1log.png" alt="">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post6.html">GOVERNMENT SCHEMES:<br><i>TREAD</i></a></h2>
            <h4 class="card-text">Assistance in the form of the Government of India (GoI) grant of up to 30 per cent of the total project cost</h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post6.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post5.html">
            <img class="img-fluid" src="./../.../../../../assets/images/blogs/b4log.jpg" alt="" width="400px" height="150px">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post5.html">Pradhan Mantri Fasal Bima Yojana (PMFBY):<br><i> Government Scheme</i></a></h2>
            <h4 class="card-text">Crop insurance scheme where multiple stakeholders are integrated on a single platform </h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post7.html">
            <img class="img-fluid" src="./../../../assets/images/blogs/b5log.jpg" alt="">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post7.html">Gramin Bhandaran Yojana: <br><i></i></a></h2>
            <h4 class="card-text"> Aims to provide storage facilities to the farmer </h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post8.html">
            <img class="img-fluid" src="./../../../assets/images/blogs/b2log.jpg" alt="">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post8.html">GOVERNMENT SCHEMES:<br><i> Cent Kalyani Scheme</i></a></h2>
            <h4 class="card-text">The scheme is targeted at women entrepreneurs in the manufacturing and services sector.</h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    
                    <span class="post-date"><i class="fa fa-calendar-o"></i>  19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><a href="post8.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card" style="background-color: #170b0b;">
        <a href="post.html">
            <img class="img-fluid" src="./../../../assets/images/blogs/b3log.jpg" alt="" width="1000px" height="300px">
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="post.html">GOVERNMENT SCHEMES</a></h2>
            <h4 class="card-text">Many banks and financial companies in India offer small loans </h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    <span class="post-date"><i class="fa fa-calendar-o"></i> 19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                    </span>
                    <span class="post-read-more"><i class="fa-regular fa-bookmark"></i></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end post -->

</div>
</section></div>
</body>
<!-- End List Posts
================================================== -->