
<div class="parallax1">
    <div class="boxp">
        <div>
          <h3><img src="./../../../assets/images/footertxt.png" width="300px"></h3>
          <p class="b"><b><i>A one stop platform for farmers.</i></b></p>
          <p>
         Krishisewa is a one step solution for the Agriculture sector. A website which will give complete information regarding crops, recommend farmers best fertilizers and best crops based on their weather and soil conditions, predict the disease their crops might have, an ecommerce platform for them to buy and sell their crops directly and a chatbot for their assistance in Hindi and English. They will even receive weather updates through SMS on their phone.
          </p>
        </div>
    </div>
    <div class="trans">
        <img src="./../../../assets/images/trans.png" height="470px" width="670px">

    </div>
    <!--
    <div class="text">
        <h1 style="margin-bottom: 0%;"><img src="./../../../assets/images/logotxt.png" width="400px"></h1>
        
        <p><span>A one stop platform for farmers.</span></p>
        <hr>
        Here are some questions we'll answer<br>
        <ul>
            <li>Which crop to plant in your field?</li>
            <li>Which fertilizer to use?</li>
            <li>Which disease does your crop have?</li>
            <li>How to cure the disease?</li>
        </ul>
    </div>
    -->
</div>


<div class="break">
<div class="carousel">
    <div class="imgtxt">
        <h3 style="margin-bottom: 0%;"><img style="margin-bottom: 0%;" width="250px" height="50px" src="./../../../assets/images/footertxt.png"> <br>E-SHOP</h3>
        <p>Our E-Shop provides an online mart of genuine products which are rich in Quality, Authenticity & Purity.
            <br><br>Our seeds and fertilizers are free of artificial chemicals, hormones making them powerhouses of vitamins & acids. A natural choice for anyone who believes in healthy farming and its numerous benefits.</p>
        <a href="shop.html" id="pcl"><h2><span>SHOP</span></h2></a>
        </div>
</div>
</div>
<div class="intro">
<h1>ABOUT US</h1>
<div class="desc">
    <img src="./../../../assets/images/about.jpeg">
    <div class="txt">
        <h2>IMPROVING AGRICULTURE, IMPROVING LIVES, CULTIVATING CROPS TO MAKE FARMERS INCREASE PROFIT.</h2>
        We use state-of-the-art machine learning and deep learning technologies to help you guide through the
        entire farming process. Make informed decisions to understand the demographics of your area, understand
        the factors that affect your crop and keep them healthy for a super awesome successful yield.
    </div>
</div>
</div>
<div class="project_section_2 layout_padding">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="icon_1"><img src="./../../../assets/images/icon-3.png"></div>
      <h3 class="accounting_text_1">7+</h3>
      <p class="yers_text">Agricultural Services</p>
    </div>
    <div class="col">
      <div class="icon_1"><img src="i./../../../assets/images/icon-4.png"></div>
      <h3 class="accounting_text_1">24/7</h3>
      <p class="yers_text">Live Assistance</p>
    </div>
    <div class="col">
      <div class="icon_1"><img src="./../../../assets/images//icon-2.png"></div>
      <h3 class="accounting_text_1">10000+</h3>
      <p class="yers_text">Satisfied Customers</p>
    </div>
    <div class="col">
      <div class="icon_1"><img src="./../../../assets/images/icon-1.png"></div>
      <h3 class="accounting_text_1">20+</h3>
      <p class="yers_text">Diseases</p>
    </div>
  </div>
</div>
</div>


<div class="box">
<p>OUR SERVICES
</p>
<div class="service">
<div class="grid" routerLink="/crop">
    <img class="gridimg" src="./../../../assets/images/img1.jpeg">
    <p id="head">CROP</p>
    <p>Recommendation about the type of crops that are best suited for the respective conditions</p>
</div>
<div class="grid" routerLink="/fertilizer">
    <img class="gridimg"  src="./../../../assets/images/img2.jpeg">
    <p id="head">FERTILIZER</p>
    <p>Recommendation about the fertilizer best suited for the particular soil and the recommended crop</p>
</div>
<div class="grid" routerLink="/disease">
    <img class="gridimg"  src="./../../../assets/images/img3.png">
    <p id="head">CROP DISEASE</p>
    <p>Predicting the name and causes of crop diseases and providing suggestions to cure it</p>
</div>
<div class="grid" routerLink="/yield">
    <img class="gridimg"  src="./../../../assets/images/img-4.jpeg">
    <p id="head">CROP YIELD</p>
    <p>Predicting the estimate yield of a crop for a particular district</p>
</div>
</div>
</div>