<div class="container main" style="padding-top: 30px;">

    <!-- Begin Article
================================================== -->
    <div class="container" >
        <div class="row mainr">

            <!-- Begin Post -->
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="mainheading" style="padding-bottom: 0%;">

                    <!-- Begin Top Meta -->

                    <!-- End Top Menta -->

                    <h1 class="posttitle">NGO's Helping Hand :<br><i>For promoting information sharing , mutual support and awareness among farmers.</i></h1>
                    <p align="right" style="color: rgb(76, 78, 31); font-size: 15px;"><i>Article updated on 19th March
                            2023</i></p>
                </div>

                <!-- Begin Featured Image -->

                <!-- End Featured Image -->

                <!-- Begin Post Content -->
                <div class="article-post">

                    <blockquote>
                        “There are many non-governmental organizations (NGOs) that assist farmers by providing them with various kinds of support,
                         such as training, credit, market linkages, and technical assistance.The NGOs work with farmers in rain-fed and irrigated areas to facilitate the adoption of advanced agricultural practices, including crop production 
                         management, soil health management, input-use efficiency, small farm mechanization, horticultural development, ”
                        <br>-Xiaoying Ren, Director of Strategic Alliance
                    </blockquote>
                    <img class="featured-image img-fluid" src="./../../../assets/images/categories/watersol.webp" style="border-radius: 10px;" alt="">
                    
                    <p>Here are some examples of NGOs that assist farmers:</p>
                    <ul style="list-style-type:disc; margin-left: 20px; font-family: poppins; font-size: 17px;" >
                        <li>PRADAN: Professional Assistance for Development Action (PRADAN) is an NGO that works towards the development of marginalized communities, including farmers. They provide training, support, and resources to farmers to help 
                            them improve their agricultural productivity, increase their income, and access markets.</li>
                        
                        <li>BAIF Development Research Foundation: BAIF Development Research Foundation is an NGO that works to promote sustainable agriculture and rural development in India. They provide training and resources to farmers to help them
                             adopt sustainable agricultural practices, manage natural resources, and increase their income.</li>

                        <li>Aga Khan Rural Support Programme (AKRSP): AKRSP is an NGO that works to alleviate poverty and improve livelihoods in rural areas of India. They provide training, credit, and 
                            market linkages to farmers to help them improve their agricultural productivity and income.Instead of physical money being carried and exchanged in the real world, cryptocurrency 
                            payments simply exist as digital entries in online databases describing specific transactions.</li>
                        <li>Self Employed Women's Association (SEWA): SEWA is an NGO that works to empower women by providing them with economic opportunities and support. They provide training and resources to women
                             farmers to help them improve their agricultural productivity and income.</li>
                        <li>Kisan Foundation: Kisan Foundation is an NGO that works towards improving the livelihoods of small and marginal farmers in India. They provide training, credit, and market linkages to farmers to help 
                            them improve their income and access to markets.</li>
                        
                    </ul>
                    <p></p>
                </div>
                <!-- End Post Content -->

                <!-- Begin Tags -->
                <div class="after-post-tags">
                    <ul class="tags">
                        <li><a>Support</a></li>
                        <li><a>Programme</a></li>
                        <li><a>Economic</a></li>
                        <li><a>Price</a></li>
                    </ul>
                </div>
                <!-- End Tags -->

            </div>
            <!-- End Post -->

        </div>
        </div>
    <!-- End Article
================================================== -->
<div class="container2">
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Related Posts</span></h2>
    </div>
    <div class="card-columns listrecent">
    
        <!-- begin post -->
        <div class="card" style="background-color: #170b0b;">
            <a href="post4.html">
                <img class="img-fluid" src="images\img-1.jpeg" alt="" width="1000px" height="800px">
            </a>
            <div class="card-block">
                <h2 class="card-title"><a href="post4.html">Kisan Foundation:<br><i>NGO's for farmers</i></a></h2>
                <h4 class="card-text">Kisan Foundation is a non-profit organization based in Pune, India, that works towards improving the livelihoods of small and marginal farmers</h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="meta-footer-thumb">
                        
                        <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </span>
                        <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
    
        <!-- begin post -->
        <div class="card" style="background-color: #170b0b;">
            <a href="post6.html">
                <img class="img-fluid" src="images\post1.jpeg" alt="">
            </a>
            <div class="card-block">
                <h2 class="card-title"><a href="post6.html">GOV SCHEMES FOR FARMERS:<br><i></i></a></h2>
                <h4 class="card-text">The Government of India has launched several schemes to support farmers and improve their livelihoods. </h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="meta-footer-thumb">
                        
                        <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </span>
                        <span class="post-read-more"><a href="post6.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
    
        <!-- begin post -->
        <div class="card" style="background-color: #170b0b;">
            <a href="post5.html">
                <img class="img-fluid" src="images\post5.jpg" alt="" width="300px" height="150px">
            </a>
            <div class="card-block">
                <h2 class="card-title"><a href="post5.html">Kisan Credit Card (KCC) Scheme: <br><i> NGOS's For farmers</i></a></h2>
                <h4 class="card-text">KCC is a credit scheme that provides farmers with access to short-term credit for crop production,</h4>
                <div class="metafooter">
                    <div class="wrapfooter">
                        <span class="meta-footer-thumb">
                        
                        <span class="post-date"><i class="fa fa-calendar-o"></i>    19th March 2023</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </span>
                        <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
    
    
    </div>
    </section>
    </div>

    <!-- Begin Related
================================================== -->
   
    </div>