<div class="main">

    <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
            <div class="signup-content">
                <form method="post" id="signup-form" class="signup-form" action="profile.html">
                    <h2 class="form-title">USER LOGIN</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="username" id="username" placeholder="Your username" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="password" id="password" placeholder="Enter your password" required/>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit"  onClick="func()" class="form-submit" value="Login"/>
                    </div>
                    <div>
                        <p>Not a member? <a routerLink="/register">REGISTER</a></p>
                    </div>
                </form>
            </div>
            <div class="image">
            </div>
        </div>
    </section>

</div>
