/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 0%;
    background-color: #170b0b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Poppins;
    color: rgb(244, 222, 184);
}
.top{
    height: 70px;
}
