

.footer_section{
    width: 100%;
    float: left;
    background-color: #170b0b;
    height: auto;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer_section .row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 8px;
}
.about_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #f9dc8e;
    margin-bottom: 10px;
    padding-left: 0px;
}
.location_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fffcf4;
}

.padding_left_15 {
    padding-left: 10px;
}
.dolor_text{
    width: 100%;
    float: left;
    font-size: 18px;
    color: wheat;
    padding-top: 10px;
    margin: 0px;
    line-height: 40px;
}
.color-text{
    list-style-type:none;
}

.color-text a{
    color:rgba(245, 222, 179, 0.79);
    text-decoration: none;
}
.color-text a:visited{
    color:rgba(245, 222, 179, 0.79);
    text-decoration: none;
}
.color-text a:hover{
    color:rgb(245, 202, 121);
    text-decoration: none;
}
.mail_text {
    width: 80%;
    float: left;
    font-size: 18px;
    color: #d1d2d3;
    background-color: #ffffff;
    height: auto;
    padding: 5px 15px;
    margin-top: 18px;
}
.subscribe_bt{
    width: 100%;
    float: left;
}
.subscribe_bt a{
    width: 170px;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #fcb715;
    height: auto;
    padding: 5px 0px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 22px;
    text-decoration-line: none;
}
.footer_social_icon{ 
    width: 100%;
    float: left;
}
.footer_social_icon ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.footer_social_icon a {
    color: white;
    float: left;
    padding: 10px 10px 0px 0px;
    
}


.copyright_section {
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid rgb(113, 108, 108);
    margin-top: 40px;
    text-align: center;
}
.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    margin-left: 0px;
    padding: 10px 0px;
}
.copyright_text {
    color: wheat;
}